/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-500 - latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/oswald-v48-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/oswald-v48-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* common */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
}

.container {
  width: 1440px;
  /* border: 2px solid red; */
  margin: 0 auto;
  border: 0;
}

.img {
  display: block;
  width: 100%;
}

.btn {
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 4px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  width: 274px;
}

/* header */
header {
  background: #66d1ff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone-number {
  text-decoration: none;
  color: #060d10;
}
/* promo */
.promo {
  background-image: url(../img/promo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #ffffff;
  align-items: center;
  text-align: center;
  text-shadow: 1px 1px 2px #060d10;
}

.promo-main {
  background-color: rgba(6, 13, 16, 0.25);
  padding: 240px 0;
}

.promo-title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: -3px;
}

.promo-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
}

/* benefits */
.benefits {
  background-color: rgba(102, 209, 255, 0.1);
}

.benefits-main-title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 83px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -3px;
  padding-top: 170px;
  padding-bottom: 100px;
}

.benefits-title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 53px;
  text-transform: uppercase;
}

.benefits-desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  color: rgba(6, 13, 16, 0.8);
}

.benefits-grid {
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

/* lead */

.lead {
  background: linear-gradient(
    208.35deg,
    rgba(102, 209, 255, 0.1) 43.85%,
    rgba(196, 196, 196, 0) 43.86%
  );
  mix-blend-mode: normal;
}

.lead-slogan {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 170px;
}

.btn-lead {
  font-size: 36px;
  line-height: 44px;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #060d10;
  margin-left: calc(50% - 506px / 2 + 0.5px);
  white-space: nowrap;
  width: initial;
  padding: 20px 108px;
  margin-bottom: 130px;
}

.lead-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
  /* width: 50%; */
}

.img-lead {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* footer */
.footer {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  background-color: #060d10;
  color: #ffffff;
  padding: 55px;
}

.join {
  font-size: 20px;
  line-height: 33px;
}

.footer-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.social-icons {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icon-item {
  margin-left: 20px;
}

.social-icon-link {
  display: block;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cp-wrap {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
}
