/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v24-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v24-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/montserrat-v24-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v24-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-500 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/oswald-v48-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v48-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
 /* header */
 header {
   background: #66D1FF;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
 }

/* promo */
.promo {
  background-image: url(../img/promo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  text-align: center;
  text-shadow: 1px 1px 2px #060D10;
}

.promo-main {
  background-color: rgba(6, 13, 16, 0.25);
}

.promo-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
}

.promo-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
line-height: 39px;
}
